<div class="mainProfil" *ngIf="profilUser==='INTP'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/intp-logician.svg">
  <h2 style="margin-top:1%">Le chercheur</h2>
</div>

<div class="mainProfil" *ngIf="profilUser==='INTJ'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/intj-architect.svg">
  <h2 style="margin-top:1%">Le stratège</h2>
</div>

<div class="mainProfil" *ngIf="profilUser==='ENTJ'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/entj-commander.svg">
  <h2 style="margin-top:1%">Le commandant</h2>

</div>

<div class="mainProfil" *ngIf="profilUser==='ENTP'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/entp-debater.svg">
  <h2 style="margin-top:1%">L'innovateur</h2>
</div>

<div class="mainProfil" *ngIf="profilUser==='INFP'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/infp-mediator.svg">
  <h2 style="margin-top:1%">L’idéaliste</h2>
</div>

<div class="mainProfil" *ngIf="profilUser==='ENFP'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/enfp-campaigner.svg">
  <h2 style="margin-top:1%">L'inspirateur</h2>
</div>

<div class="mainProfil" *ngIf="profilUser==='INFJ'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/infj-advocate.svg">
  <h2 style="margin-top:1%">L'avocat</h2>
</div>

<div class="mainProfil" *ngIf="profilUser==='ENFJ'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/enfj-protagonist.svg">
  <h2 style="margin-top:1%">L’animateur</h2>
</div>

<div class="mainProfil" *ngIf="profilUser==='ISTP'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/istp-virtuoso.svg">
  <h2 style="margin-top:1%">Le virtuose</h2>
</div>

<div class="mainProfil" *ngIf="profilUser==='ISTJ'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/istj-logistician.svg">
  <h2 style="margin-top:1%">Le consciencieux</h2>

</div>

<div class="mainProfil" *ngIf="profilUser==='ESTP'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/estp-entrepreneur.svg">
  <h2 style="margin-top:1%">L’entrepreneur</h2>
</div>

<div class="mainProfil" *ngIf="profilUser==='ESTJ'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/estj-executive.svg">
  <h2 style="margin-top:1%">Le manager</h2>

</div>

<div class="mainProfil" *ngIf="profilUser==='ISFP'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/isfp-adventurer.svg">
  <h2 style="margin-top:1%">L'aventurier</h2>
</div>

<div class="mainProfil" *ngIf="profilUser==='ISFJ'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/isfj-defender.svg">
  <h2 style="margin-top:1%">Le protecteur</h2>
</div>

<div class="mainProfil" *ngIf="profilUser==='ESFP'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/esfp-entertainer.svg">
  <h2 style="margin-top:1%">L’acteur</h2>
</div>

<div class="mainProfil" *ngIf="profilUser==='ESFJ'">
  <img src="https://storage.googleapis.com/neris/public/images/types/avatars/esfj-consul.svg">
  <h2 style="margin-top:1%">Le bon vivant</h2>
</div>


<div class="textProfil" *ngIf="profilUser==='INTP'">
  <b>Caractère</b>
  <p>Plutôt brillant intellectuellement, vous passez votre temps à chercher à expliquer les choses, à bâtir des théories, à trouver des solutions. Ce qui vous intéresse pourtant, ce n'est pas l'application, mais la réflexion : une fois votre problème résolu, vous passez vite à autre chose, vous souciant peu de mettre en pratique.</p>
 
  <p>Très rationnel, vous êtes aussi créatif et non conventionnel : vous cherchez vos solutions et vos explications, sans craindre de démolir les idées préconçues ou les théories déjà admises.</p>
  

  <b>Relations</b>
  <p>Absorbé par vos pensées et vos analyses, guidé par les faits et la logique d'abord, vous avez un peu de mal à percevoir que les autres peuvent fonctionner différemment. Vous ne comprenez pas certaines réactions humaines, dictées par l'émotion, car elles vous apparaissent irrationnelles et insensées. Les autres vous trouvent d'ailleurs parfois un peu froid, et vous pouvez avoir du mal à répondre aux besoins affectifs de vos proches.</p>

  <p>Vous n'avez pas grande facilité non plus à aller vers de nouvelles personnes mais, par contre, êtes très heureux de discuter et recherchez la compagnie de ceux qui peuvent partager vos idées et vos schémas de pensée.</p>

  <b>Activités</b>
  <p>Vous aimez apprendre pour apprendre, êtes capable de synthétiser une incroyable quantité d'informations et de faire des plans à l'infini pour trouver la meilleure solution à un problème. Que ce soit pour réparer un robinet, un logiciel, ou préparer vos vacances, vous êtes prêt à passer des heures et même des jours pour bâtir un projet et l'améliorer sans cesse.</p>

</div>

<div class="textProfil" *ngIf="profilUser==='INTJ'">
  <b>Caractère</b>
  <p>Vous aimez comprendre et analyser le monde. Doté d'une grande curiosité intellectuelle, vous associez des idées et des informations, et vous bâtissez des stratégies pour l'action. Car si vous avez le goût des idées, vous avez aussi le souci de les mettre en pratique. Contrairement à d’autres qui restent dans un monde théorique et abstrait, vous voulez aboutir à quelque chose.</p>
 
  <p>Perspicace, organisé, vous recherchez l'efficacité. Tourné vers le futur, vous aurez tendance à négliger les détails du présent.</p>
  

  <b>Relations</b>
  <p>Comme tous les introvertis, vous vivez d'abord dans votre monde. Spontanément, vous ne vous intéressez pas forcément aux pensées et aux émotions des autres, à moins que ceux-ci n'apportent leur pierre à ce qui vous intéresse.</p>

  <p>Vous avez toutefois des capacités de leadership : vous ne cherchez pas d'emblée à prendre la tête, mais pouvez vous y décider si vous voyez que l'on a besoin de vous. Vous agissez alors de façon efficace, grâce à vos capacités stratégiques d'analyse des situations. Vous réussissez d'autant mieux que vous vous efforcez d'expliquer vos intuitions aux autres. Dans l'intimité, avec vos proches, vous pouvez avoir du mal à exprimer vos sentiments et être perçu comme distant.</p>

  <b>Activités</b>
  <p>Plutôt ambitieux, vous aimez le travail intellectuel et l'analyse. Doté à la fois de rationalité et d'intuition, vous avez parfois l'étoffe d'un scientifique. Vous êtes toutefois beaucoup plus intéressé par l'analyse de systèmes ou d'ensembles, ou encore par l'organisation, que par la relation de personne à personne.</p>

</div>


<div class="textProfil" *ngIf="profilUser==='ENTJ'">
  <b>Caractère</b>
  <p>Leader dans l’âme, vous voyez partout des défis à surmonter, et vous voulez être le premier à les relever. Rapide à appréhender la complexité, vous enregistrez de nombreuses informations au cours de vos journées et prenez de fermes décisions au moment voulu. Vous avez une "présence" particulière, une personnalité marquée et entière.</p>
  
  <b>Relations</b>
  <p>Vous aimez beaucoup les contacts et les débats, mais n’êtes pas très à l’écoute des sentiments des autres. Vous pouvez ressentir des émotions fortes, que vous ne manifestez pas afin de cacher ce que vous pouvez considérer comme une faiblesse.</p>

  <p>Vous exprimez parfois des jugements de valeur non fondés car trop rapides. Vous devez veiller à respecter les opinions de vos proches ou collaborateurs. Vous valorisez les relations avec votre famille.</p>

  <b>Activités</b>
  <p>Doué pour diriger des personnes, vous repérez les leaders d’une entreprise. Vous ne supportez pas que des erreurs se répètent et n’avez aucune patience avec des collègues incompétents. Vous accordez une grande importance à vos missions et savez élaborer des plans d’action efficaces. Vous appréciez un environnement élégant et bien aménagé.</p>

</div>

<div class="textProfil" *ngIf="profilUser==='ENTP'">
  <b>Caractère</b>
  <p>Vous êtes avide de comprendre le monde. Vous absorbez des informations et enregistrez des images et des expériences en continu. Vous utilisez votre intuition pour agir, généralement de façon rapide et précise.</p>
 
  <p>En cas de stress, vous pouvez aussi être obsédé par des détails mineurs et ne pas prendre de distance avec les faits. Optimiste visionnaire, vous avez beaucoup d’idées, aimez les défis et concevez des solutions créatives aux problèmes que vous rencontrez.</p>
  
  <b>Relations</b>
  <p>Ouvert, direct, vous aimez la conversation, l'échange et les batailles verbales. Enthousiaste, vous avez le don de rallier les autres à vos projets. Il vous arrive aussi de négliger les aspects humains dans vos décisions très rationnelles : vous devenez sévère, voire parfois agressif, et vous retrouvez isolé. Vous avez des talents d’avocat, car vous vous servez des failles réglementaires pour porter secours à vos amis, sans vous soucier de qualifier leurs actes.</p>

  <b>Activités</b>
  <p>Avec vos qualités d'observation du réel, votre intuition, votre esprit logique et vos aptitudes à communiquer, vous avez des atouts pour réussir dans un grand nombre de secteurs, si cela vous intéresse. Plus motivé par l'élaboration d'un projet que par votre réalisation concrète, vous pouvez avoir tendance à ne pas achever ce que vous commencez.</p>

  <p>Vous vous épanouissez davantage dans des environnements où vous avez suffisamment d'autonomie pour exercer votre créativité, développer des idées, et résoudre des problèmes. A l'inverse, un cadre trop routinier et où vous manquez d'initiative vous va moins bien.</p>

</div>

<div class="textProfil" *ngIf="profilUser==='INFP'">
  <b>Caractère</b>
  <p>Vous êtes fortement attaché à des valeurs qui orientent toute votre vie. Vous faites partie de ceux qui veulent rendre le monde meilleur, avez le sens de l'autre et du service. Vous êtes prêt à vous consacrer à la cause que vous défendez, vous avez un idéal et voulez donner du sens à votre vie. Perfectionniste quand il s’agit d'atteindre ce qui vous tient à coeur, vous pouvez négliger des détails de la vie quotidienne plus "terre à terre".</p>
  
  <b>Relations</b>
  <p>Réservé au premier abord, vous avez pourtant de belles qualités pour nouer des liens profonds avec les autres. Vous êtes facilement à leur écoute car vous vous intéressez aux autres, et aimez les aider. Fidèle, vous pouvez nouer des amitiés profondes, et vous engagez avec intensité en amour.</p>

  <p>Votre sensibilité aux émotions vous fait rechercher l'harmonie, le consensus. De ce fait, vous n'aimez pas les conflits et faites tout pour "arrondir les angles". Vous pouvez toutefois sortir de vos gonds et vous laisser emporter par la colère ou l'émotion si les valeurs auxquelles vous tenez sont attaquées.</p>

  <b>Activités</b>
  <p>A travers la vie professionnelle, vous poursuivez votre quête de sens et d'idéal. Vous voulez être utile aux autres et apporter votre pierre à ce monde. Vos qualités d'écoute, votre sensibilité, votre tempérament passionné sont à mettre à votre actif. Certaines logiques peuvent néanmoins vous échapper par moment. Vous vous exprimez souvent très bien à l'écrit, et beaucoup d'écrivains ont votre profil.</p>

</div>

<div class="textProfil" *ngIf="profilUser==='ENFP'">
  <b>Caractère</b>
  <p>Intuitif, vous jaugez le monde à l’aune de vos valeurs personnelles. Chaleureux et naturel, enthousiaste et vif d’esprit, vous vous passionnez pour les idées nouvelles. Votre tendance à vivre dans un monde virtuel vous conduit à parfois déprécier la réalité.</p>

  <p>Vous avez besoin de changements et de nouveaux défis en permanence. Vous aimez la vie, et en profitez. Votre style peut être original.</p>
  
  <b>Relations</b>
  <p>Il vous arrive d’avoir tendance à en faire trop pour être aimé. Vous vous adaptez beaucoup aux personnes et devez apprendre à tenir compte de vos propres besoins. Vous comprenez intuitivement les gens, mais vous trompez parfois dans vos conclusions. Sensible et sentimental, vous n’ouvrez vraiment votre cœur qu’aux personnes de confiance. Vous pouvez obtenir ce que vous voulez par votre tchatche, mais vous le faites seulement si cela correspond à vos valeurs. Vous savez inspirer et motiver les autres, et entretenez un grand réseau amical.</p>

  <b>Activités</b>
  <p>Vous aimez les activités créatives, spontanées et relationnelles. Les détails de la vie quotidienne vous intéressent peu, et vous les négligez à l’occasion. Vous devez donc veiller au suivi de vos projets. Vous changez facilement d’occupation ou de métier, et avez pour ligne de conduite la quête de votre vraie personnalité. Contrairement à d’autres « extravertis », vous avez de temps en temps besoin de vous isoler pour vérifier que vous êtes en accord avec vos valeurs.</p>

</div>

<div class="textProfil" *ngIf="profilUser==='INFJ'">
  <b>Caractère</b>
  <p>Calme et attentionné, très intuitif, vous avez une personnalité complexe. C’est le plus rare des types de profils… Vous refaites le monde – et votre monde – en permanence. Pour vous, tout peut être amélioré. Vous êtes créatif, et arrivez à des résultats surprenants sans savoir toujours les expliquer.</p>

  <p>Vous faites confiance à votre instinct, qui s’avère juste dans de nombreux cas. Vous êtes convaincu d’avoir (presque) toujours raison. Vous paraissez moins ordonné que d’autres profils proches (chambre en désordre...).</p>
  
  <b>Relations</b>
  <p>Vous devinez parfois de façon troublante les gens et les choses… Vous n’exprimez pas forcément ce talent à la limite du 6ème sens, par peur d’être considéré comme étrange. Vous pouvez, par exemple, être submergé par les émotions des autres.</p>

  <p>Vous vous efforcez d’être diplomate, cherchez l’harmonie et supportez mal les conflits, qui vous conduisent à l’agitation, à la colère, voire à la somatisation. Vous tissez des liens forts avec vos proches amis, et leur manifestez beaucoup d’amour et une grande attention.</p>

  <b>Activités</b>
  <p>Attaché à votre indépendance, vous perdez votre aisance si vous devez être exposé trop longtemps à un public, ou acculé à régler des détails matériels. Sous stress, vous vous voyez entouré d’ennemis. Vous avez alors besoin de revenir à la logique et d’observer les faits. Vous travaillez de façon solitaire avant de vous exprimer ouvertement, parfois en leader pour ce qui concerne vos convictions profondes.</p>

</div>

<div class="textProfil" *ngIf="profilUser==='ENFJ'">
  <b>Caractère</b>
  <p>Vous êtes particulièrement sociable, expressif et ouvert. Vous avez tendance à fuir la solitude, qui vous ennuie, et à vivre pour les autres, ce qui peut vous conduire à ignorer vos propres besoins.</p>

  <p>Vous avez peu d’intérêt pour la théorie, mais n’êtes pas non plus motivé par le train-train quotidien et préférez travailler pour le futur.</p>
  
  <b>Relations</b>
  <p>Vos compétences relationnelles sont particulièrement développées. Vous comprenez les gens, attirez leurs confidences, leur manifestez de l’attention et les aidez à donner le meilleur d’eux-mêmes.</p>

  <p>Vous parvenez aussi à vous mettre dans la peau des autres et pouvez les manipuler ! Vous vous donnez aux autres pour les rendre heureux et êtes en général très apprécié. Vous valorisez particulièrement les relations avec votre famille et vos amis proches.</p>

  <b>Activités</b>
  <p>Plein d’énergie, vous êtes rapide et vous investissez beaucoup dans ce qui vous intéresse. Vous aimez que votre environnement soit bien organisé, et faites en sorte de maintenir des structures de travail claires. Vous pouvez vous avérer pointilleux. Vous aimez les professions relationnelles, et avez des facilités pour le conseil et l’enseignement, tout ce qui vous permet d'inspirer et de conduire d'autres personnes.</p>

</div>

<div class="textProfil" *ngIf="profilUser==='ISTP'">
  <b>Caractère</b>
  <p>Optimiste et généreux, vous vous contentez de peu pour être heureux. Vous adorez comprendre le fonctionnement des choses, mais n’êtes pas intéressé par la théorie. Très actif, vous vous ennuyez vite sans stimulant. Vous aimez les sports à risque. Vous défendez votre indépendance et n’êtes limité que par vos propres convictions.</p>
  
  <b>Relations</b>
  <p>Loyal avec vos amis, vous profitez des moments de solitude pour construire votre vision du monde. Impartial, vous essayez de vous en tenir aux faits pour juger. Vous vous méfiez des sentiments. Vous pouvez manquer de capacité d’écoute et refuser des engagements qui restreindraient votre autonomie.</p>

  <b>Activités</b>
  <p>Attentif aux détails et aux aspects pratiques des choses, vous bénéficiez souvent de talents manuels. Vous vous adaptez facilement à votre environnement et réagissez vite face aux imprévus. Efficace dans vos décisions, vous savez gérer les crises.</p>

</div>

<div class="textProfil" *ngIf="profilUser==='ISTJ'">
  <b>Caractère</b>
  <p>Attentif aux messages de vos cinq sens, vous êtes souvent une personne calme, qui voit le monde de façon rationnelle. Vous avez le sens des responsabilités et êtes considéré comme quelqu’un de sérieux, qui fait les choses en temps et en heure. Vous êtes loyal envers les communautés auxquelles vous appartenez.</p>

  <p>Vous aimez prendre soin de votre environnement et de tout ce qui à trait à votre vie quotidienne : dans ce domaine, votre devise pourrait être "une place pour chaque chose, et chaque chose à votre place". Vous faites parfois preuve d'un sens de l’humour original.</p>
  
  <b>Relations</b>
  <p>Perfectionniste, vous ne reconnaissez pas toujours vos émotions. Vous vous efforcez de répondre avec fidélité et générosité aux besoins de vos proches, plutôt par des actes que par des paroles. Vous êtes capable de sortir de votre réserve pour prendre soin de ceux que vous aimez. Vous recherchez la paix et la sécurité, et vous avez tendance à penser que les autres sont aussi exigeants que vous avec eux-mêmes.</p>

  <b>Activités</b>
  <p>Respectueux des procédures, vous pouvez vous avérer pointilleux. Vous travaillez dans un but pratique, aimez être seul et se trouver en position d’autorité. Vous avez une bonne mémoire des faits, savez organiser et planifier votre travail et aller jusqu’au bout de vos réalisations. Vous tenez vos promesses et avez tendance à aider les autres sans compter, parfois même au-delà du raisonnable et sans en tirer avantage.</p>

</div>

<div class="textProfil" *ngIf="profilUser==='ESTP'">
  <b>Caractère</b>
  <p>Actif et rapide, vous aimez vous amuser et prendre des risques. Vous n’avez parfois pas peur de vous investir dans des tâches difficiles. Vous vivez dans l’instant présent et ne vous encombrez pas de théories. Une fois que vous en avez terminé avec un projet, vous passez rapidement à un autre. Vous aimez improviser, raconter des histoires et animer les soirées.</p>
  
  <b>Relations</b>
  <p>Vous avez le talent spécifique de percevoir les motivations des personnes que vous fréquentez, en observant leur comportement et les expressions de leur visage. Vous pouvez à l’occasion vous en servir pour les manipuler.</p>

  <p>Vous ne prenez pas toujours de précautions de langage quand vous parlez, car vous êtes plus attaché à la logique de votre discours qu’aux sentiments de votre interlocuteur. Vous êtes enthousiaste et savez motiver les autres.</p>

  <b>Activités</b>
  <p>Vous n’êtes pas tout le temps scolaire. Vous préférez voir l’aspect pratique de ce que vous apprenez. Vous faites un très bon commercial, capable de vendre n’importe quelle idée ou produit au premier venu. En revanche, vous ne supportez pas les tâches routinières ou l’enfermement. Doué pour lancer des projets, vous laissez à d’autres la tâche d’assurer leur suivi. Votre énergie vous prédispose à la création d’entreprises.</p>

</div>

<div class="textProfil" *ngIf="profilUser==='ESTJ'">
  <b>Caractère</b>
  <p>Vous vivez le plus souvent dans l’instant présent. Observateur, vous notez les faits et les besoins concrets de votre environnement. Vous contrôlez ce qui s’y passe, agissez avec rapidité et assurance. Respectueux des traditions, des lois et de vos engagements, vous attendez des autres la même honnêteté.</p>
  
  <b>Relations</b>
  <p>Expressif, vous aimez passer de bons moments avec d’autres. Vous avez parfois tendance à être exigeant et à critiquer ouvertement ceux qui ne correspondent pas à vos valeurs. Vous faites preuve de franchise mais pouvez négliger les sentiments des autres. Vous vous isolez en cas de stress, et pouvez éprouver alors des difficultés à exprimer vos sentiments.</p>

  <b>Activités</b>
  <p>Consciencieux, réaliste à l’esprit pratique, vous avez une vision claire de ce qui doit être fait. Vous valorisez la compétence et l’efficacité. Très énergique, vous êtes fiable et aimez voir rapidement le résultat de votre travail.</p>

</div>

<div class="textProfil" *ngIf="profilUser==='ISFP'">
  <b>Caractère</b>
  <p>Vous êtes très attaché à vos valeurs. Perfectionniste et artiste, vous vous jugez parfois durement vous-même. Vous cherchez constamment le sens de la vie et la prenez très au sérieux.</p>
  
  <b>Relations</b>
  <p>Calme et réservé, vous êtes difficile à connaître. Vous ne vous confiez qu’à vos proches. Délicat et serviable dans vos relations, vous voulez contribuer au bonheur des autres. Diriger ou contrôler les personnes ne vous intéresse pas. Vous défendez votre indépendance et votre originalité, ce qui est parfois considéré comme de l’égoïsme. En réalité, vous avez une compréhension profonde des gens et les aidez par des actes plutôt que par des discours.</p>

  <b>Activités</b>
  <p>Vous êtes un sensitif qui "capte" toutes les sensations de l’environnement et qui s’en sert pour créer des œuvres qui touchent elles-mêmes les sens. Vous appréciez les beautés de la nature et les animaux. Peu attiré par la théorie, vous apprenez par l’action. L’analyse logique ne vous plaît pas, car elle ignore l’aspect subjectif des choses.</p>

</div>

<div class="textProfil" *ngIf="profilUser==='ISFJ'">
  <b>Caractère</b>
  <p>Vous êtes une personne chaleureuse, généreuse et fiable, qui a un grand sens des responsabilités. Vous faites confiance à l’expérience, aux traditions et aux règles éprouvées. Votre vision du monde est réaliste et directe. Vous avez une mémoire très précise et détaillée quand un événement vous importe. Sensible à l’ambiance d’un lieu, vous savez aménager votre intérieur avec goût.</p>
  
  <b>Relations</b>
  <p>Bienveillant, vous valorisez la coopération et l’harmonie entre les hommes. Vous êtes sensible et empathique. Vous devinez facilement ce qui plaît aux autres, et placez parfois leurs besoins au-dessus des vôtres. Vous exprimez peu vos sentiments et avez parfois besoin d’un confident. Vous pouvez exprimer des jugements définitifs sur les personnes, mais aussi les aider à comprendre leurs états d’âme.</p>

  <b>Activités</b>
  <p>Vous apprenez par la pratique bien plus que dans les livres, et gardez en mémoire une énorme quantité d'informations. Vous n’aimez pas les conflits et ne savez pas toujours dire "non". Vous avez besoin de feedback positif pour avancer. Vous faites confiance aux autres et les encouragez à donner le meilleur d'eux-mêmes.</p>

</div>

<div class="textProfil" *ngIf="profilUser==='ESFP'">
  <b>Caractère</b>
  <p>Vous aimez la vie, vous êtes sensible à la beauté et à tous les plaisirs de l’existence. Vous cherchez à passer de bons moments et à en faire profiter les autres. Vous vivez dans l’instant et appréciez les expériences nouvelles. Optimiste, vous êtes ouvert à l’ensemble des possibles. Vous avez confiance dans votre capacité à improviser.</p>
  
  <b>Relations</b>
  <p>Vous êtes généreux, attentif au bien-être des autres et chaleureux. Vous aimez être au centre de l’attention et faire rire votre entourage. Vous êtes un bon comédien. Vous vous dépassez pour divertir vos amis, et vous considérez tout le monde comme un ami.</p>

  <p>En revanche, si on vous attaque, vous pouvez entretenir des rancunes tenaces. Le plus souvent, vous êtes un artisan de paix.</p>

  <b>Activités</b>
  <p>Spontané, vous n’êtes pas toujours motivé par les raisonnements trop élaborés. Vous n’aimez pas la rigidité et les tâches routinières. Être avec d’autres est important pour vous. Vous avez un bon contact avec les enfants. Vous appréciez aussi la nature et les animaux.</p>

</div>

<div class="textProfil" *ngIf="profilUser==='ESFJ'">
  <b>Caractère</b>
  <p>Vous êtes chaleureux et serviable, diplomate et consciencieux, enthousiaste et organisé. Fiable, vous aimez la stabilité. Vous vous intéressez aux détails de la vie quotidienne. Vous prévoyez ce qui doit être fait et le réalisez efficacement. Vous faites confiance à l’ordre établi et pouvez parfois être un peu trop crédule.</p>
  
  <b>Relations</b>
  <p>Vous êtes très relationnel, vous aimez les gens et faites en sorte que tous se sentent à l’aise près de vous. Vous trouvez votre joie à faire plaisir, toujours prêt à vous sacrifier pour vos proches. Vous ne supportez pas la méchanceté.</p>

  <p>En cas de stress, vous avez parfois tendance à vouloir manipuler les autres ou à être suspicieux. Habituellement, vous devinez les besoins des autres et leur manifestez beaucoup d’attention sans rien demander en retour.</p>

  <b>Activités</b>
  <p>Sûr de vos valeurs, vous les communiquez facilement. Bon coéquipier à l’esprit pratique, vous êtes ordonné et prévoyant. Vous aimez vous donner aux autres et vivez intensément le présent.</p>

</div>

<div class="listSlider">
  <app-slider-perso *ngFor="let slider of listSlider; let i = index"
    [labelMin]="slider.min"
    [labelMax]="slider.max"
    [value]="slider.value"
    [listInformations]="slider.listInformations"
    [index]="i"
    ></app-slider-perso>
</div>

<div class="lineKPI">
  <div class="fullKPI" [ngStyle]="{'background': styleBla}">
    <div class="KPI">
      <h1>Blagueur</h1>
      <p>{{scoreBla}}%</p>
    </div>
  </div>

  <div class="fullKPI" [ngStyle]="{'background': styleRie}">
    <div class="KPI">
      <h1>Rieur</h1>
      <p>{{scoreRie}}%</p>
    </div>
  </div>

  <div class="fullKPI" [ngStyle]="{'background': styleTauHum}"> 
    <div class="KPI">
      <h1>Drôle</h1>
      <p>{{scoreTauHum}}%</p>
    </div>
  </div>

  <div class="fullKPI" [ngStyle]="{'background': styleTch}"> 
    <div class="KPI">
      <h1>Dragueur</h1>
      <p>{{scoreTch}}%</p>
    </div>
  </div>

</div>