.listSlider {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2vh;
}

.textProfil{
  width:70%;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2.5%;
  margin-bottom:2vh;
}

.textProfil p{
  text-align: justify;
}

.textProfil b{
  color:#1A1837;
}

.textProfil h2{
  text-align:center;
}

.mainProfil {
  height:25vh;
  width: 20%;
  border-radius: 100%;
  margin-left: auto;
  background-image: linear-gradient(to top, transparent 8%, #1A1837 65%);
  align-content: center;
  text-align: center;
  margin-right: auto;
}

.mainProfil h2{
  color :#1A1837;
}

img {
  height : 16vh;
  margin-top : 2vh;
  width: 16vh; 
  margin-right:auto;
  margin-left:auto;
  border-radius: 1000px;
}

b {
  color : rgba(40, 37, 88, 0.815);
  font-size:1.2em;
  font-style: italic;
}

.fullKPI{
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  padding: 0.5vw;
}

.KPI{
  width: 100%;
  height: 100%;
  background-color: #212F3D;
  border-radius: 50%;
}

.fullKPI p{
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 1.3em;
  color: lightblue;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.fullKPI h1{
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 1.3em;
  color: white;
  width: 100%;
  text-align: -webkit-center;
  padding-block-start: 25%;
}

.lineKPI{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 4vh;
  margin-bottom: 4vh;
}