<div *ngIf="!isReady">
    <a href="http://sightmess.com/panels"></a>  <!-- Test pour voir si Google reconnait le lien. A essayer : Zindex = -1 --> 
    <div class="cover">
      <div class="logoSightMess">
        <img alt="SightMess" src="./assets/img/logo_sightmess_bl.png"/>
      </div>
       <div alt="Cliquez ici et analysez vos messages" title="Cliquez ici et analysez vos messages" class="button-container-2">
        <span class="mas" >
          <h1 class="launchText">Lancez Vous</h1>
          <p style="font-size: 0.8em; margin-top: -1vh; font-style: italic;">Cliquez ici</p>
        </span>
        <button style="padding: 0;" type="button" name="Hover" >
          <a href="/home" style="letter-spacing: 16px; font-style:italic;" class="launchText"><b style="font-weight:300; font-family: 'robotoReg';">Sight</b><b style="font-weight:600; font-family: 'robotoReg'">Mess</b></a>
          <p style="font-size: 0.8em; margin-top: -1vh; font-style: italic;">Cliquez ici</p>
        </button>
      </div>
      <div style="width:100%; bottom:10; position:absolute">
        <p style="text-align:center; margin-bottom:0; opacity:0.8">Suivez-nous sur nos réseaux sociaux</p>
        <div class="buttonReseaux">
          <a href="https://www.linkedin.com/company/sightmess" target="_blank"><img src="./assets/img/logo_linkedin.svg"/></a>
          <a href="https://www.facebook.com/sightmess" target="_blank"><img src="./assets/img/logo_facebook.svg"/></a>
        </div>
      </div>
    </div>
  </div>
