.spin-wrapper{
    position: relative;
    height: 55vh;
    background: #EEEEEE;
    width: 95vw;

  .spinner{
    height: 20vw;
    width: 20vw;
    border: 3px solid transparent;
    border-top-color: #A04668;
    top: 20%;
    left: 50%;
    margin: -30px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    
    &:before, &:after{
      content:'';
      position: absolute;
      border: 3px solid transparent;
      border-radius: 50%;
    }
    
    &:before{
      border-top-color: #254E70;
      top: -12px;
      left: -12px;
      right: -12px;
      bottom: -12px;
      animation: spin 3s linear infinite;
    }
    
    &:after{
      border-top-color: black;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;  
      animation: spin 4s linear infinite;
    }
  }
}

@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes inverseSpin{
  0% {transform: rotate(360deg);}
  100% {transform: rotate(0deg);}
}

.text{
      height: 30vh;
    text-align: center;
    color: black;
}

h2 {
  background-color: #EEEEEE;
}

p{
  font-size: 5em;
  animation: inverseSpin 2s linear infinite;
  text-align: center;
  font-family: Brush Script MT, Brush Script Std, cursive;
}