.table{
  height: 79vh; /*Normalement a 80 mais bug de scroll bar */
}

.oneRow{
  display : flex;
  height:50%;
  width:100%;
}

.oneCard{
  text-align: center;
  vertical-align: middle;
  background-color: white; 
  border : 1px solid white;
  border-radius: 5px 5px 0px 0px;
}

.cardbotleft {
  width : 60%;
  border-radius: 0px 0px 0px 5px;
  color : black;
  
}
.cardtopleft {
  width : 60%;
  border-radius: 5px 0px 0px 0px;
  color : black;
}
.cardbotright {
  width : 40%;
  border-radius: 0px 0px 5px 0px;
  color : black;
}
.cardtopright {
  width : 60%;
  border-radius: 0px 5px 0px 0px;
  color : black;
}

h2 {
  font-size: 20px;
  color : white;
  background: #1A1837; 
  margin:0;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.detail{
  overflow: auto;
  height: 87%;
}

.sideText {
  background-color:#1A1837;
  color: white;
  width : 100%;
  text-align : center;
  margin : auto;
  text-justify : center;
  font-size : 30px;   
  position : relative;
}

.sideText p{
  margin-top:1vh;
}

.sideImg {
  background-color:rgb(255, 255, 255);
  color: black;
  position : bottom;
  width : 100%; 
  height:82%;
}

.helpText {
  width : 63vw;
  height : 63vh;
  position : absolute;
  background-color: rgba(0,0,0,0.5);
  color : white ;
  font-size : 5vh;
  z-index : -1;
}

.imgHelp {
  width : auto;
  height: 70%;
  position : absolute;
  right: 0;
  top: 0;
  margin-right : 10px;
  cursor : pointer;
}

#helpNbrMessagePerUser {
  width: 42.5%;
  height: 34.4%;
}

#helpCaracterPerMessage{
  width: 51%;
  height: 34.2%;
}
