<div class="pannelHome" *ngIf="isHome">
  <div class="titlePanel">
    <h1>Vos panels</h1>
  </div>

  <div class="tPannel">
    <figure class="snip1477"  [routerLink]="['own-stats']" style="box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); cursor : pointer;">
      <img src="./assets/img/home_ownstat.svg" />
    <div class="title">
      <div>
        <h4>Stats globales</h4>
      </div>
    </div>
    <figcaption>
      <p>Analysez vos statistiques personnelles sur tous vos messages.</p>
    </figcaption>
    </figure>

    <figure class="snip1477"  [routerLink]="['conv']" style="box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); cursor : pointer;">
      <img src="./assets/img/home_conv.svg" />
    <div class="title">
      <div>
        <h4>Conversations</h4>
      </div>
    </div>
    <figcaption>
      <p>Analysez chacune de vos conversations en détail.</p>
    </figcaption>
    </figure>

    <figure class="snip1477"  [routerLink]="['profil']" style="box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); cursor : pointer;">
      <img src="./assets/img/home_profil.svg" />
    <div class="title">
      <div>
        <h4>Profil Messenger</h4>
      </div>
    </div>
    <figcaption>
      <p>Déterminez votre profil Messenger.</p>
    </figcaption>
    </figure>
  </div>

  <div>
    <ad-custom adType="tagBillBoard"></ad-custom>
  </div>
</div>

<div class="mainPannel">
  <router-outlet></router-outlet>
</div>

<div class="popupToRate" *ngIf="isRateMoment">
  <div class="close-container" (click)="closeTooltip()">
    <div class="leftright"></div>
    <div class="rightleft"></div>
    <label class="close">close</label>
  </div>
  <h1 style="margin-left: 11%;" *ngIf="!isRated">Donnez votre avis !</h1>
  <p *ngIf="!isRated">Que pensez vous de SightMess ?</p>
  <div class="rating-holder">
    <div *ngIf="!isRated" class="c-rating c-rating--big" data-rating-value="0">
      <button (click)=rateSightMess(1)>1</button>
      <button (click)=rateSightMess(2)>2</button>
      <button (click)=rateSightMess(3)>3</button>
      <button (click)=rateSightMess(4)>4</button>
      <button (click)=rateSightMess(5)>5</button>
    </div>
  </div>
  <p *ngIf="isRated" style="margin-top: 9%;font-size: 3em;">Merci !</p>
</div>