<div class="pannelHome" *ngIf="isHome">
  <div class="titlePanel">
    <h1>Vos panels</h1>
    <hr class="overview">
  </div>

  <div class="tPannel">
    <figure class="snip1477"  [routerLink]="['own-stats']" (click)="switchPannel('ownStats')" style="box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); cursor : pointer;">
      <img src="./assets/img/home_ownstat.svg" />
    <div class="title">
      <div>
        <h4>Stats globales</h4>
      </div>
    </div>
    <figcaption>
      <p>Analysez vos statistiques personnelles sur tous vos messages.</p>
    </figcaption>
    </figure>

    <figure class="snip1477"  [routerLink]="['conv']" (click)="switchPannel('statsConv')" style="box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); cursor : pointer;">
      <img src="./assets/img/home_conv.svg" />
    <div class="title">
      <div>
        <h4>Conversations</h4>
      </div>
    </div>
    <figcaption>
      <p>Analysez chacune de vos conversations en détail.</p>
    </figcaption>
    </figure>

    <figure class="snip1477"  [routerLink]="['profil']" (click)="switchPannel('profil')" style="box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); cursor : pointer;">
      <img src="./assets/img/home_profil.svg" />
    <div class="title">
      <div>
        <h4>Profil Messenger</h4>
      </div>
    </div>
    <figcaption>
      <p>Déterminez votre profil Messenger.</p>
    </figcaption>
    </figure>
  </div>
  <hr style="margin-bottom:0;" class="overview">

  <div style="display:flex; flex-wrap: wrap; padding-top: 3vh;">
    <script type="text/javascript">
      atOptions = {
        'key' : '6ba9dc21c77a7d4cf98116db30866723',
        'format' : 'iframe',
        'height' : 90,
        'width' : 728,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/6ba9dc21c77a7d4cf98116db30866723/invoke.js"></scr' + 'ipt>');
    </script>

<script type="text/javascript">
	atOptions = {
		'key' : '6ba9dc21c77a7d4cf98116db30866723',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/6ba9dc21c77a7d4cf98116db30866723/invoke.js"></scr' + 'ipt>');
</script>
  </div>
</div>

<div class="mainPannel">
  <router-outlet></router-outlet>
</div>