.table{
  height: 79vh; /*Normalement a 80 mais bug de scroll bar */
}


.oneRow{
  display : flex;
  height:50%;
  width:100%;
  color : black;
}
.oneCard{
  text-align: center;
  vertical-align: middle;
  border : solid 1px #EEEEEE;
}

.cardtopright{
  width : 50%;
  background-color: white; 
  border-radius: 0px 5px 0px 0px;
  
}
.cardtopleft{
  width : 50%;
  background-color: white; 
  border-radius: 5px 0px 0px 0px;
}
.cardbotright{
  width : 50%;
  background-color: white; 
  border-radius: 0px 0px 5px 0px;
}
.cardbotleft{
  width : 50%;
  background-color: white; 
  border-radius: 0px 0px 0px 5px;
}

h2 {
  font-size: 20px;
  color : white;
  background: #1A1837; 
  margin:0;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.oneCard cardtopright firstRow{
  height:30%;
  display:flex;
}



.infoBox p{
  margin-bottom:1vh;
  margin-top:-2%;
}

.infoBox{
  margin: auto;
  width: 20%;
  padding-right: 5%;
  padding-left: 5%;
  height: 40%;
  margin-top: 2%;
}

.explication{
  display:flex;
  justify-content:center;
  height : 45%;
  width : 80%;
  margin-right:auto;
  margin-left:auto;
  color: black;
  margin-bottom:3.5%;
}

.infoBox img{
  height : 75%;
  background : #1A1837;
  border-radius:50%;
  padding : 2vh;
}

hr.overview{
  display:block;
  border:none;
  height:1px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#EEEEEE), to(rgba(40, 37, 88, 0.815)));
  background: -moz-linear-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#EEEEEE), to(rgba(40, 37, 88, 0.815)));
  background: -ms-linear-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#EEEEEE), to(rgba(40, 37, 88, 0.815)));
  width : 80%;
  margin : 2%;
  margin-left: auto;
	margin-right: auto;
}

.book{
  text-align:center;
  height:20%;
}


#book img{
  margin-top:0;
  margin-bottom:auto;
  padding-bottom:5%;
  height:30%;
}


#book h5{
  margin-top:2%;
  margin-bottom:auto;
}

.explication h5{
  margin-top: -10%;
  font-size: 3vh;
}

#infoBoxBook img{
  background : rgba(26, 24, 55, 0);
  border-radius:0;
  padding : 0;
}

#infoBoxBook{
  margin: 0;
  height: 80%;
  width:40%;
}

.oneCard .cardbotright .explication{
  height:80%;
}

#distance infoBox{
  margin-top:auto;
  margin-bottom:auto;
}

.infoTime{
  padding-top:1.5%;
  padding-bottom:1.5%;
  margin:auto;
  height: 50%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top:1%;
  width:30%;
}

.infoTime img{
  height : 60%;
  background : #1A1837;
  border-radius:50%;
  padding : 2vh;
}

.infoTime h5{
  font-size:1em;
}

.sideText {
  background-color:#1A1837;
  color: white;
  width : 100%;
  text-align : center;
  margin : auto;
  text-justify : center;
  font-size : 30px;   
  position : relative;
}

.sideText p{
  margin-top:1vh;
}

.sideImg {
  background-color:rgb(255, 255, 255);
  color: black;
  position : bottom;
  width : 100%; 
  height:82%;
}

.helpText {
  width : 63vw;
  height : 63vh;
  position : absolute;
  background-color: rgba(0,0,0,0.5);
  color : white ;
  font-size : 5vh;
  z-index : -1;
}

.imgHelp {
  width : auto;
  height: 70%;
  position : absolute;
  right: 0;
  top: 0;
  margin-right : 10px;
  cursor : pointer;
}

#helpQuestion {
  width: 42.4%;
  height: 34.4%;
}

#helpDistanceH{
  height: 34.25%;
  width: 42.65%;
}

#helpBook{
  height: 34.4%;
  width: 42.65%;
}

#helpTimeHelp{
  width: 42.65%;
  height: 34.25%;
}