
.main{
  width:98%;
  min-height:85.5vh;
  margin-right:auto;
  margin-left:auto;
}

.page{
  background-color:  #EEEEEE;
  color: rgb(51, 51, 51);
  min-height:97vh;
  font-family:'robotoReg', sans-serif;
  overflow: hidden;
}

.body{
  background-color:  #EEEEEE;
}