.table{
  height: 80vh; /*Normalement a 70 mais bug de scroll bar */
}

.oneRow{
  display : flex;
  height:50%;
  width:100%;
}

.oneCard{
  text-align: center;
  vertical-align: middle;
  background-color: white; 
  border : 1px solid #EEEEEE;
}

.cardleft {
  width : 50%;
  background-color: white; 
  border-radius: 0px 0px 0px 5px;
}
.cardright {
  width : 50%;
  background-color: white; 
  border-radius: 0px 0px 5px 0px;
}

.cardmain{
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

h2 {
  font-size: 20px;
  color : white;
  background: #1A1837; 
  margin:0;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.sideText {
  background-color:#1A1837;
  color: white;
  width : 100%;
  text-align : center;
  margin : auto;
  text-justify : center;
  font-size : 30px;   
  position : relative;
}

.sideText p{
  margin-top:1vh;
}

.sideImg {
  background-color:rgb(255, 255, 255);
  color: black;
  position : bottom;
  width : 100%; 
  height:82%;
}

.helpText {
  width : 63vw;
  height : 63vh;
  position : absolute;
  background-color: rgba(0,0,0,0.5);
  color : white ;
  font-size : 5vh;
  z-index : -1;
}

.imgHelp {
  width : auto;
  height: 70%;
  position : absolute;
  right: 0;
  top: 0;
  margin-right : 10px;
  cursor : pointer;
}

#helpNbrMessagePerTime {
  width: 85.15%;
  height: 34.8%;
}

#helpSumMessage{
  width: 42.5%;
  height: 34.7%;
}

#helpAverageTimeToAnswer{
  width: 42.53%;
  height: 34.7%;
}

.arrow_box {
	position: relative;
	background: #1A1837;
	border: 2px solid #FA8A2F;
  width:41%;
  height:30%;
}

#nbrMessagePerTimeArrow{
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.8%;
}

.arrow_box h3{
  font-size: 50%;
  margin-top: 1%;
  color:white;
}

.arrow_box p{
  font-size:50%;
  color:white;
  margin-top:0;
  margin-bottom:0;
}

.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(26, 24, 55, 0);
	border-top-color: #1A1837;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(250, 138, 47, 0);
	border-top-color: #FA8A2F;
	border-width: 33px;
	margin-left: -33px;
}