<div *ngIf="isConvGroup">
  <div class="informationsPreVisuGroup">
    <div class="nameDisplay" style="width:25%">
      <p>{{name}}</p>
    </div>
    <div class="numberPeopleDisplay" style="width:15%">
      <p>{{nbrParticipant}}</p>
      <img src="https://cdn0.iconfinder.com/data/icons/facebook-ui-glyph/48/Sed-02-512.png">
    </div>
    <div class="nbrMessageDisplay" style="width:15%">
      <p>{{nbrMessage}} messages</p>
    </div>
    <div class="currentStreakDisplay" style="width:10%">
      <p>{{currentStreak}}</p>
    </div>
    <div class="maxStreakDisplay" style="width:10%">
      <p>{{maxStreak}}</p>
    </div>
    <div class="maxFreezeDisplay" style="width:10%">
      <p>{{maxFreeze}}</p>
    </div>
    <div class="maxFreezeDisplay" style="width:15%">
      <p>{{dateLastMessage | date:'d MMM y'}}</p>
    </div>
  </div>
</div>
<div *ngIf="!isConvGroup">
  <div class="informationsPreVisuSolo">
    <div class="nameDisplay" style="width:25%">
      <p>{{name}}</p>
    </div>
    <div class="numberPeopleDisplay" style="width:15%">
      <p>{{nbrParticipant}}</p>
      <img src="https://cdn0.iconfinder.com/data/icons/facebook-ui-glyph/48/Sed-02-512.png">
    </div>
    <div class="nbrMessageDisplay" style="width:15%">
      <p>{{nbrMessage}} messages</p>
    </div>
    <div class="currentStreakDisplay" style="width:10%">
      <p>{{currentStreak}}</p>
    </div>
    <div class="maxStreakDisplay" style="width:10%">
      <p>{{maxStreak}}</p>
    </div>
    <div class="maxFreezeDisplay" style="width:10%">
      <p>{{maxFreeze}}</p>
    </div>
    <div class="maxFreezeDisplay" style="width:15%">
      <p>{{dateLastMessage | date:'d MMM y'}}</p>
    </div>
  </div>
</div>