canvas {
  border : solid black 1px;
}

.main {
  display : flex;
  justify-content: space-between;
  width:100%;
  margin-top:2%;
}

.pannelStat{
  height:100%;
  width:87%;
  margin-right:auto;
  margin-left:auto;
}

.sideBar{
  width:10%;
  margin-top:5%;
  text-align: center;
  color : #EEEEEE
}

.oneElementInMenu{
  background-color: #1A1837;
  margin-bottom: 5px;
  border-radius: 10px;
  height: 5vh;
  border: 1px solid lightgray;
}

.oneElementInMenu:hover{
  background-color: #EEEEEE;
  color : black;
  cursor:pointer;
  border: 1px solid #1A1837;
}

.oneElementInMenu.true{
  color: #EEEEEE;
  background-color: #FA8A2F;
}

.oneElementInMenu p {
    display: inline-block;
}