<div class="tooltipFirstRun" [ngStyle]="{'display':isOneConvStatFirstRun? 'Block' : 'None' }">
    <div class="enteteTooltip">
      <h1>Ma conversation</h1>
      <div class="close-container" (click)="closeTooltip()">
        <div class="leftright"></div>
        <div class="rightleft"></div>
        <label class="close">close</label>
      </div>
    </div>
    <p style="font-size:1.3em; margin-top:3%;">- <b style="color:rgb(250, 138, 47)">Cliquez sur un menu</b> sur la gauche pour l'analyser.</p>
    <div style="display:flex;">
        <p style="margin-top:0; font-size: 1.3em; margin-bottom:0">- Si vous ne comprenez pas un graphique, cliquez sur le </p><img style="height:4vh; margin-top: -1%; width: 2vw; margin-right: 0; margin-left: 1%; margin-bottom: 0; " src="https://image.flaticon.com/icons/svg/254/254059.svg"/>
    </div>
    <p style="font-size: 1.3em; margin-top:0;">pour avoir plus d'informations.</p>
    <p style="font-size: 1.3em;">- L'affichage change selon le type de conversation : Groupe ou Duo.</p>

  </div>

<div class="main">
  <div class="sideBar">


    <div class="oneElementInMenu {{isOverViewOneConv}}" (click)="switchStat('overViewOneConv')">
      <p>Overview</p>
    </div>


    <div class="oneElementInMenu {{isMessages}}" (click)="switchStat('messages')">
      <p>Messages</p>
    </div>


    <div class="oneElementInMenu {{isTemps}}" (click)="switchStat('temps')">
      <p>Temps</p>
    </div>


    <div class="oneElementInMenu {{isReactions}}" (click)="switchStat('reactions')">
      <p>Réactions</p>
    </div>

    <div class="oneElementInMenu {{isAutres}}" (click)="switchStat('autres')">
      <p>Autres</p>
    </div>
  
  </div>



  <div class="pannelStat">
    <app-overview-stat *ngIf="isOverViewOneConv"
    [nbMessagePerUser]="nbMessagePerUser"
    [influenceUser] = "influenceUser"
    [maxFreeze] = "maxFreeze"
    [maxStreak]="theMaxStreak"
    [currentStreak]="currentStreak"
    [firstToSpeak]="firstToSpeak"
    [nbMessages]="nbMessages"
    [nbParticipants]="nbParticipants"
    [dateCreationConv]="dateCreationConv"></app-overview-stat>

    <app-messages-stat *ngIf="isMessages"
    [nbMessagePerUser] = "nbMessagePerUser"
    [averageLengthOfMessagesPerUser] = "averageLengthOfMessagesPerUser"></app-messages-stat>

    <app-time-stat *ngIf="isTemps"
    [sumMessagesPerUserByTime] = "sumMessagesPerUserByTime"
    [hoursToSend] = "hoursToSend"
    [averageTimeToAnswer]= "averageTimeToAnswer"></app-time-stat>

     <app-reactions-stat *ngIf="isReactions"
    [totalReactions]="totalReactions"
    [reactionDetail]="reactionDetail"></app-reactions-stat>

    <app-autres-stat *ngIf="isAutres"
    [nbreQuestionsPerUser] = "nbreQuestionsPerUser"
    [bookStat] = "bookStat"
    [timeSpentTotal] = "timeSpentTotal"
    [distanceStat] = "distanceStat"></app-autres-stat>

</div>